{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock title %}
{% block content %}
    <main>
        <div class="signup-form">
            <img src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" class="avatar2">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
         <div id="Signup-Login-Page">
            Already have an account? <a href="{% url 'login' %}">Login!</a>
        </div>
    </main>
{% endblock content %}
